In [10]:
#ATM WITHDRAWAL VALIDATION
amount=int(input("enter any amount to withdraw:"))
if amount<= 5000 and amount%100==0:
    print("Allow withdraw")
else:
    print("insufficient balance")

enter any amount to withdraw: 250

insufficient balance

In [18]:
#TRAFFIC LIGHT COLOR
color=input("enter the signal color")
if color=='red':
                 print("Stop immediately")
elif color=='yellow':
                 print("Get ready to move")
else:
                 print("you can go")

enter any color green

you can go

In [22]:
#MOVIE TICKET PRICING
cus=int(input("enter any ticket value:"))
if cus<=12:
    print("150")
elif cus>=12 and cus<=18:
    print("200")
elif cus>=18:
    print("300")

enter any ticket value: 19

300

In [25]:
#WAPP THAT TAKES THE NUMBER OF HOURS WORKED AND PRINTS THE OVERTIME PAY IF APPLICABLE
hours=int(input("enter any value:"))
if  hours>=8:
    print("100 per extra:")
else:
    print("no overtime pay")

enter any value: 99

100 per extra:

In [32]:
#WAPP THAT CALCULATES AND DISPLAYS THE FINAL AMOUNT AFTER DISCOUNT
bill=int(input("enter any amount:"))
if bill>1000:
    discount=bill*0.10
elif bill>500:
    discount=bill*0.05
else:
    discount=0
final_amount=bill-discount
print("original bill:",bill)
print("discount:",discount)
print("final_amount to pay:",final_amount)

enter any amount: 1200

original bill: 1200
discount: 120.0
final_amount to pay: 1080.0

In [36]:
hours=int(input("enter number of hours:"))
if hours>=4:
    print("your dehydrated! drick water now!")
elif hours>=2 and hours<=3:
    print("drink a glass of water")
else:
    print("your fine")

enter number of hours: 2

drink a glass of water

In [32]:
#RANGE DATATYPE
rg1=range(1)
print(rg1)
print(type(rg1))

range(0, 1)
<class 'range'>

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [3]:
#NATURAL NUMBERS
n=int(input("enter the integer value:"))
print(f"natural number from 1 to {n}:")
for i in range(n):
    print(i)

enter the integer value: 10

natural number from 1 to 10:
0
1
2
3
4
5
6
7
8
9

In [4]:
n=int(input("enter the integer value:"))
print(f"natural number from 1 to {n}:")
for i in range(1,n+1):
    print(i)

enter the integer value: 10

natural number from 1 to 10:
1
2
3
4
5
6
7
8
9
10

In [12]:
#NATURAL NUMBERS
n=int(input("enter the integer value:"))
for i in range():
    print(i)

enter the integer value: 10

natural number from 1 to 10:
10

In [18]:
n=int(input("enter the integer value:"))
for i in range(0,11,2):
    if i%2==0:
        print(i)

enter the integer value: 10

0
2
4
6
8
10

In [16]:
#WAPP TO PRINT EVEN NUMBERS FROM N TO 1
n=int(input("enter any value:"))
for i in range(n,0,-2):
    print(i)

enter any value: 10

10
8
6
4
2

In [17]:
#WAPP TO PRINT EVEN NUMBERS FROM N TO 1
n=int(input("enter any value:"))
for i in range(n,0,-1):
    if i%2==0:
        print(i)

enter any value: 10

10
8
6
4
2

In [19]:
#WAPP TO PRINT ODD NUMBERS FROM 1 TO N
n=int(input("enter any value:"))
for i in range(1,n+1):
    if i%2!=0:
        print(i)

enter any value: 10

1
3
5
7
9

In [24]:
#WAPP TO PRINT ODD NUMBERS FROM N TO 1
n=int(input("enter any value:"))
for i in range(n,2,-1):
    if i%2!=0:
        print(i)

enter any value: 10

9
7
5
3

In [27]:
#WAPP  TO PRINT THE MULTIPLICATION OF N
n=int(input("enter any table:"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter any table: 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [30]:
n=int(input("enter any table:"))
print(f"MULTIPLICATION TABLE OF {n}:")
for i in range(1,11):
    print(f"{n}x{i}={n*i}")

enter any table: 99

MULTIPLICATION TABLE OF 99:
99x1=99
99x2=198
99x3=297
99x4=396
99x5=495
99x6=594
99x7=693
99x8=792
99x9=891
99x10=990

In [4]:
#WAPP  TO PRINT THE MULTIPLICATION OF N TO 1
n=int(input("enter any table:"))
for i in range(10,0,-1):
    print(n,"*",i,"=",n*i)

enter any table: 9

9 * 10 = 90
9 * 9 = 81
9 * 8 = 72
9 * 7 = 63
9 * 6 = 54
9 * 5 = 45
9 * 4 = 36
9 * 3 = 27
9 * 2 = 18
9 * 1 = 9